body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    position: relative; /* Para que el botón se posicione en relación con el header */
}

#admin-button {
    position: absolute; /* Posicionamiento absoluto */
    top: 2px;         /* Distancia desde la parte superior */
    right: 20px;       /* Distancia desde la derecha */
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#admin-button:hover {
    background-color: #45a049;
}

#attendance-section {
    margin-top: 60px; /* Para evitar que el botón se superponga al contenido */
}

form {
    margin: 20px auto;
    max-width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#attendance-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Asegúrate de que no falte el punto y coma aquí */